$red: #C42026;
$redHover: #dc272e;

$blue: #0055A5;
$blueHover: #0065c3;

$yellow: #DCD20E;
$yellowHover: #eae00f;

$green: #40B649;
$greenHover: #47be50;

$silver:#DDDDDD;
$black:#111111;
$white: #FFFFFF;
