<div class="background"></div>
<div id='comingSoon' class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footerItem">
    <h1>Coming Soon...</h1>
    <ul>
        <li>Facebook Events</li>
        <li>Blog Posts</li>
        <li>Featured Menu Items</li>
        <li>Featured Services</li>
    </ul>
</div>

<div id='socialMediaIcons' class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footerItem">
    <div class="socialMediaIcon" ng-repeat='(social, data) in socialMedia'>
        <a href="{{ data.main }}" target='_blank'/>
            <img ng-src="{{ data.icon.src }}" alt="{{ data.icon.alt }}" />
        </a>
    </div>
</div>

<div id='footerNavigation' class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footerItem">

    <h5 class='col-xs-12 col-xs-12 col-sm-12 col-lg-12'>Navigation</h5>
    <ul class='col-xs-12 col-xs-12 col-sm-12 col-lg-12'>
        <nav-routes></nav-routes>
    </ul>
</div>
