#footer {

    border-top: 2px solid $silver;
    height: $footerHeight;
    z-index: 2;
    position: relative;
    padding:0;

    .background {
        position: absolute;
        background-color: $black;
        opacity: $footerOpactiy;
        height: $footerHeight;
        width: 100%;
    }

    .footerItem {
        opacity: 1;
        h1{
            text-align: center;
        }
    }

    #socialMediaIcons {
        display: flex;
        height: $footerHeight;
        align-items: center;
        .socialMediaIcon {
            flex: 1;
            order: 1;
            text-align: center;
            &:hover {
                opacity: .8;
            }
        }
    }
}
