@import 'pallets/_pallet';

@import 'globals/_images';
@import 'globals/_global';
@import 'globals/_fonts';
@import 'globals/_forms';

@import 'modules/_hoverEffect';
@import 'modules/_navigation';
@import 'modules/_loadingScreen';
@import 'modules/_loading';
@import 'modules/_content';
@import 'modules/_footer';

@import 'pages/_home';
@import 'pages/_services';
@import 'pages/_contact';
@import 'pages/_about';

@import 'forms/_contactForm';

html {
    height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Herculanum';
    color:white;
}

p, a, h5, h6, li, input, textarea {
    font-family: 'Source Sans Pro';
}

hr {
    width: 100%;
    border-color: $silver;
}

body {
    height: 100vh;
    padding:0 !important;
    background: url($background) no-repeat;
    background-color: $blue;
    background-size: cover;

    #view {
        margin-top: $topViewMargin;
        margin-bottom: $bottomViewMargin;
    }

    #view, #footer {
        &.menuOpen {
            width: calc(100% - #{$menuWidth});
            margin-left: $menuWidth;
        }

        &.menuClosed {
            width: 100%;
            margin-left: 0;
        }
    }
}
