@import 'pallets/_pallet';

@import 'globals/_images';
@import 'globals/_global';
@import 'globals/_fonts';
@import 'globals/_forms';

@import 'mixins/_transitions';

@import 'modules/_hoverEffect';
@import 'modules/_navigation';
@import 'modules/_loadingScreen';
@import 'modules/_loading';
@import 'modules/_content';

@import 'directives/_routes';

@import 'templates/_home';
@import 'templates/_services';
@import 'templates/_contact';
@import 'templates/_about';
@import 'templates/_footer';
@import 'templates/_veganRestaurant';
@import 'templates/_blog';

@import 'forms/_contactForm';

html {
    height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Herculanum';
    color:white;
}

p, a, h5, h6, li, input, textarea {
    font-family: 'Source Sans Pro';
    font-size: 1.5vw;
}

hr {
    width: 100%;
    border-color: $silver;
}

body {
    height: 100vh;
    padding:0 !important;
    background: url($background) no-repeat;
    background-color: $blue;
    background-size: cover;
    transition: all .2s ease-in-out;

    #view {
        margin-top: $topViewMargin;
        margin-bottom: $bottomViewMargin;
    }

    #view, #footer, #pageLoadingScreen {
        transition: all .2s ease-in-out;

        &.pageLoading {
            display: none;
        }

        &.navbarOpen {
            width: calc(100% - #{$menuWidth});
            margin-left: $menuWidth;
            @include all-transition(1s);
        }

        &.navbarClosed {
            width: 100%;
            margin-left: 0;
            @include all-transition(1s);
        }
    }

    #pageLoadingScreen {
        display: none;

        transition: display 1s ease;

        &.pageLoading {
            display: flex;
            align-items: center;
            padding:0;
            height: 100%;
            top:0;
            bottom: 0;
            right: 0;
            left: 0;

            .loading {
                flex-grow: 1;

                .loadingText {
                    margin-top: 25px;
                    color: $white;
                }
            }

            @keyframes loading {
              0% {
                transform: scale(1.5);
              }
              20% {
                transform: scale(1.5, 3.3);
              }
              40% {
                transform: scale(1.5);
              }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    #view, #footer, #pageLoadingScreen {
        &.navbarOpen {
            width: 100% !important;
            margin-left: 0 !important;
        }
    }

    #footer {
        display: block;
    }

    body {
        background-size: contain !important;
    }

    p, h5, h6, li, input, textarea {
        font-size: 3vw;
    }
}
