///////////////////////////////////////////////////////////////////////////////
////////////////////// BLUE APPLES STYLE SHEET - _global.scss /////////////////
///////////////////////////////////////////////////////////////////////////////

///////////// Main View Margins
$topViewMargin: 10vh;
$bottomViewMargin: 10vh;
///////////////////////////////

////// Height of the Header Img
$headerIMGHeight: 20vh;
///////////////////////////////

////// Loading Screen Cube Size
$cubeSize: 60px;
///////////////////////////////

//////////////// Footer

$footerOpactiy: .6;
///////////////////////////////

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

.centerText {
    text-align: center !important;
}

.tinyText {
    font-size: .4em !important;
}

.smallText {
    font-size: .6em !important;
}

.mediumText {
    font-size: .8em !important;
}

.largeText {
    font-size: 1.4em !important;
}

.hugeText {
    font-size: 1.8em !important;
}

.bold {
    font-weight: bold !important;
}

.m-top-10 {
    margin-top: 10px !important;
}

.m-top-20 {
    margin-top: 20px !important;
}

.m-top-25 {
    margin-top: 25px !important;
}

.m-top-30 {
    margin-top: 30px !important;
}

.m-top-50 {
    margin-top: 50px !important;
}

.noPadding {
    padding: 0 !important;
}

.border-r-10 {
    border-radius: 10px !important;
}

.border-r-20 {
    border-radius: 20px !important;
}

.border-r-25 {
    border-radius: 25px !important;
}
