$topViewMargin: 10vh;
$headerIMGHeight: 20vh;

$cubeSize: 60px;


.tinyText {
    font-size: .4em;
}

.smallText {
    font-size: .6em;
}

.mediumText {
    font-size: .8em;
}

.largeText {
    font-size: 1.4em;
}

.hugeText {
    font-size: 1.8em;
}

.bold {
    font-weight: bold;
}
