#home {
    #headerIMG {
        background: url($headerIMG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: $headerIMGHeight;
        margin-bottom: 25px;
    }

    .menuItem {
        margin-bottom: 5px;
        background-color: $blue;
        border: 1px solid $black;
        height:80px;

        &:hover {
            background-color: $blueHover;
            cursor: pointer;
        }

        h5, p {
            color:white;
        }

        h5 {
            font-size: 1.2em;
        }

        .icon {
            img {
                height: 40px;
                margin-top: 15px;
            }
        }
    }
}
