#contact {
    .hoursTitle {
        font-size: 2em;
    }

    .hours {
        $hourHeight: 100px;

        .open, .closed {
            background-color: $silver;
            height: $hourHeight;
            line-height: $hourHeight;
            padding:0;
            text-align: center;
            border-radius:30px;

            & > * {
                line-height: $hourHeight;
                border-radius:30px;
            }

            h6, p {
                margin: 0;
            }

            h6 {
                font-size: 2em;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            p {
                font-size: 1em;
                font-weight: bold;
            }
        }

        .open {
            margin-bottom: 25px;
            h6 {
                background-color: $green;
            }
        }

        .closed {
            h6 {
                background-color: $red;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .open, .closed {
        height: auto !important;
        h6 {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 30px !important;
        }
    }

    #map {
        iframe {
            width: 250px;
        }
    }

    .open {
        font-size: 2.5vw;
    }

    .closed {
        font-size: 2.5vw;
    }
}
