#footer {
    border-top: 2px solid $silver;
    z-index: 2;
    position: relative;
    padding:0;
    display: flex;

    .background {
        position: absolute;
        background-color: $black;
        opacity: $footerOpactiy;
        height: 100%;
        width: 100%;
    }

    .footerItem {
        opacity: 1;
        h1{
            text-align: center;
        }
    }

    #comingSoon {
        color: $silver;
        text-align: center;
        ul {
            padding: 0;
            list-style: none;
        }
    }

    #socialMediaIcons {
        display: flex;
        align-items: center;
        .socialMediaIcon {
            flex: 1;
            order: 1;
            text-align: center;
            &:hover {
                opacity: .8;
            }
        }
    }

    #footerNavigation {
        h5 {
            font-size: 1.2em;
            color: $white;
            text-align: center;
            margin: 10px 0px 10px 0px;
        }

        ul {
            .routes {
                font-size: 1em;
            }
        }
    }
}
